*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    
}

body{

    nav{
      

        // img{

        //     float: left;
        //     width: 140px;
        //     height: 100px;
        //     border-radius: 10%;

        // }
        
        ul{
            
            display: flex;
            justify-content: space-around;
            width: 50%;

        }

        .nav-link{
            color: #2C3440;
            font-size: 20px;
        }

       
    }

    // -------------form-------------

    form{

        width: 80%;
        padding: 60px;
        color:#2C3440 ;
        margin: auto;
        border-radius: 7px;
      
        textarea{

            border-radius: 8px;

        }
        
    }


    // footer

      footer {
        margin: 0 auto;
        padding: 40px 70px;
        background-color: #2C3440;
        color: #dadada;
        text-align: center;

        h2{
            text-decoration: underline;
        }
        i {
          padding: 10px 10px;
          font-size: 30px;
        }
    }
}