*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;;
}

body{
    background:  linear-gradient(#ffffff63, #ffffff63),url('../img/login.jpg');
    position: relative;
    background-size: cover;


    .form{
        width: 50%;
        background-color: #2C3440;
        margin: auto;
        border: 0.5px solid #2C3440;
        border-radius: 10px;
        color: #CCD7DA;
        font-size: 1.2rem;
        margin-top: 11% ;
        padding: 60px;

        #emailHelp{
            color: #CCD7DA;
        }

        input[type=password],input[type=email] {
            background-color: #CCD7DA;
            color: #4E5C6E;
            border-radius: 32px;

        }

        #link{
            float: right;
            color:#CCD7DA ;
            
        }
    }
}
